<div class="inputs">
    <h1 class="text-center" (click)="testClick()">Simple todo list</h1>
    <hr />
    <h2 class="text-center" *ngIf="!isClicked">Add a task</h2>
    <h2 class="text-center" *ngIf="isClicked">Edit task</h2>
    <div
        class="add-input d-flex flex-row align-items-center"
        *ngIf="!isClicked"
    >
        <input
            type="text"
            placeholder="Add a task"
            class="form-control"
            #txtAddInput
        />
        <button class="btn btn-primary" (click)="addTask()">Add task</button>
    </div>
    <div *ngIf="!isClicked; else show"></div>
</div>
<ng-template #show>
    <div class="edit-input d-flex flex-row align-items-center">
        <input
            type="text"
            placeholder="Edit a task"
            class="form-control"
            [(ngModel)]="editInputValue"
            id="edit"
            name="edit"
        />
        <button class="btn btn-primary" (click)="editTaskAndHideButton()">
            Edit task
        </button>
        <button class="btn btn-danger" (click)="lastEditOnClick()">
            Cancel
        </button>
    </div>
</ng-template>
